@mixin md {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 600px) {
    @content;
  }
}