$c-main: #323264;
$c-accent: #F0145A;
$c-accent-hover: #F0145A;
$c-primary: #24A3FF;
$c-white: #fff;
$c-grey: #B3B3BA;
$c-grey-bg: #F5F5FA;
$c-stroke: #E6E6F0;
$c-purple: #643E72;
$c-gradient-grey: #CACADB;
$c-gradient-light: #E7E7F2;

$grad-primary: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$grad-header: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

$font-main: 'Montserrat', sans-serif;