.footer {
  background: $c-grey-bg;
  padding: 0;
  border-top: none;

  .container {
    border-top: 2px solid $c-stroke;
    padding-top: 30px;
    padding-bottom: 30px;


    @include sm {
      position: relative;
      padding-bottom: 60px;
    }
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;

  @include sm {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-addr {
  display: flex;
  align-items: center;
  color: $c-main;

  a {
    color: $c-primary;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    transition: 0.3s;

    &:hover { color: $c-accent; }
  }


  @include sm {
    flex-direction: column;
    gap: 10px;
  }

  .footer-dot {
    @include sm { display: none; }
  }
}

.footer-copy {
  color: $c-grey;
  text-align: center;

  @include sm {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include sm {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}

.footer .fb-icon {
  display: flex;
  align-items: center;

  svg path {
    fill: $c-primary;
    transition: 0.3s;
  }

  &:hover svg path {
    fill: $c-accent;
  }

  @include sm {
    order: -1;
  }
}

.footer-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: $c-grey;
  border-radius: 50%;
  margin: 0 10px;

  @include sm { display: none; }
}

.footer-contact {
  display: flex;
  align-items: center;

  @include sm {
    flex-direction: column;
    gap: 10px;
  }

  .text-bold {
    color: $c-main;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
  }


  a.text-bold {
    color: $c-primary;

    &:hover {
      color: $c-accent;
    }
  }
}