@import "../utils/var";
@import "../utils/mixins";

.header-section {
  padding-top: 50px;
  margin-bottom: 20px;

  @include sm {
    padding-top: 60px;
    position: relative;
    width: 100%;
  }
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include sm {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo img {
  max-width: 130px;
  display: block;
  margin-top: 15px;
  margin-left: 5px;

  @include sm {
    margin: 0 0 10px 0;
  }
}

.header-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include sm {
    width: 100%;
    align-items: flex-start;
  }
}

.top-row-contacts {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $c-grey;
  margin-bottom: 15px;

  @include sm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    z-index: 5;
  }
}

.address {
  color: $c-grey;
  @include sm { display: none !important; }
}

.phone {
  color: $c-white;

  @include sm {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-right: 0;
  }
}

.fb-icon {
  svg path {
    transition: 0.3s;
    fill: $c-white;
  }

  &:hover svg path {
    fill: $c-accent;
  }

  @include sm { display: none !important; }
}

.lang-switch {
  display: flex;
  gap: 5px;
  margin-right: 5px;

  @include sm { margin-right: auto; }
}

.lang-item {
  padding: 2px 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  color: $c-white;
  transition: 0.3s;

  &.active {
    background-color: $c-accent;
    color: $c-white;
  }

  &:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.main-menu {
  margin-top: 5px;

  a {
    color: $c-white;
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;

    &:hover {
      color: $c-accent;
      text-decoration: underline;
    }
  }

  @include sm {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      display: inline-block;
      margin: 0 15px 0 0;
      font-size: 16px;
      color: $c-primary;
      padding: 5px 0;
    }
  }
}

.header-section:not(.header-light) .main-menu a {
  @include sm { color: $c-white; }
}

// Light Header Variant
.header-light {
  background-color: $c-white;

  .address, .phone {
    color: $c-grey;
  }
  .phone {
    color: $c-main;
  }

  .lang-item {
    color: $c-grey;

    &.active {
      background-color: $c-accent;
      color: $c-white;
    }

    &:hover:not(.active) {
      background-color: $c-grey-bg;
      color: $c-main;
    }
  }

  .main-menu a {
    color: $c-primary;

    &:hover, &.active {
      color: $c-accent;
    }
  }
}