
.gradient-wrapper {
  position: relative;
  background: $grad-header;
  border-radius: 0 0 12px 12px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  width: 100%;
  z-index: 1;
  box-shadow: none;


  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;
    height: 10px;
    background: $c-gradient-grey;
    border-radius: 0 0 12px 12px;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 40px;
    right: 40px;
    height: 10px;
    background: $c-gradient-light;
    border-radius: 0 0 12px 12px;
    z-index: -2;
  }
}


.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding-bottom: 40px;
  z-index: 2;
  overflow: hidden;
}


.hero-bg-icon {
  position: absolute;
  z-index: -1;
  pointer-events: none;


  object-fit: contain;
  width: auto;
  height: auto;


  top: -50px;
  left: 50%;
  transform: translateX(-50%);

  max-height: 85vh;
  max-width: 100%;


  @include sm {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 60vh;
  }
}

.hero-title-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  position: relative;
  z-index: 5;

  h1 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: $c-white;
    text-align: center;
    max-width: 800px;

    @include xs {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.scroll-down {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 2px solid $c-white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transform: translateY(5px);
  }

  &::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid $c-white;
    border-bottom: 2px solid $c-white;
    transform: translate(-50%, 0) rotate(45deg);
  }

  @include sm {
    margin-bottom: 60px;
  }
}